@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
.faq-section {
      max-width: 800px;
      margin: 60px auto;
      padding: 0 20px;
    }

    .faq-section h2 {
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: 600;
    }
    .faq-section h3 {
      margin-left: -18px;
    }

    .faq-item {
      margin-bottom: 30px;
      margin-left: -19px;
    }

    .faq-item strong {
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
    }

    .closing-text {
      margin-top: 40px;
      font-size: 16px;
      color: #cccccc;
      line-height: 1.6;
      margin-left: -21px;
    }
    .recent-post1 img {
    width: 77%;
    height: auto;
    border-radius: 8px;
    }