 @import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
     font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
     overflow-x: hidden;
}
/* Nav bar section */

.header{
    /* background: url("./img/backgroundImg.png"); */
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    /* overflow-y: hidden;*/
    /* overflow-x: hidden;  */
}
.imgContainer{
    /* background-color: red; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -3rem;
}
.circle{
    height: 26rem;
    animation: scaleimg 2s ease-out infinite ;

}
.logoInsideCircle{
    height: 9rem;
    position: relative;
    top: 10px;
    right: 250px;
    animation: disappear 2s forwards linear infinite;
}

@keyframes scaleimg{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
        rotate: 45deg;
        opacity: 0;

    }
    
}
@keyframes disappear {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 1;

    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}

.secondAnimation{
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
    /* width: 100%;*/
    /* display: flex; */
    justify-content: center;
    align-items: center; 
}
.secondCircle{
    /* height: 34rem; */
        height: 72.5rem;
        margin: 0 0 0 24rem;
    animation: zoomOut 1s ease-out infinite ;
}
@keyframes zoomOut {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
        rotate: 45deg;
        
    }
}
@keyframes disapier{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.4;
    }
    100%{
        opacity: 0;
    }
}

.secondLogo{
    height: 3rem;
    position: relative;
    top: 10px;
    right: 750px;
    animation: disapier 1s forwards linear infinite;
}
.thardAnimation{
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
    /* display: flex; */
}
.thardCircle{
    height: 112.5rem;
        /* height: 100rem; */
        margin: 0 0 0 24rem;
    animation: zoomIn    1s ease-out infinite ;
}
.thardLogo{
    height: 4rem;
    position: relative;
    top: 10px;
    right: 1000px;
    animation: disapier 1s forwards linear infinite;
}
@keyframes zoomIn {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.7);
        rotate: 45deg;
        opacity: 0;
    }
}
.fourthAnimation{ 
position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}
.fourthCircle{
    height: 77.5rem;
        /* height: 100rem; */
        margin: 0 0 0 25rem;
    animation: zoomOut2 1s ease-out infinite ;
}
.fourthLogo{
    height: 4rem;
    position: relative;
    top: 10px;
    right: 815px;
    animation: disapier 1s forwards linear infinite;
}
@keyframes zoomOut2 {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
        rotate: 45deg;
        
    }
}
.fifthAnimation{
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}
.fifthCircle{
    height: 77.5rem;
        /* height: 100rem; */
        margin: 0 0 0 30rem;
    animation: zoomOutcircle 1s ease-out ;
}
.learn{
    /* color: white; */
    font-size: 4rem;
     position: relative;
    top: 10px;
    right: 707px;
    background: linear-gradient(to right, #0EE28E, #493FD6 , #FFFFFF);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
    animation: appier 1s ease-out  ;


}
.icon{
    position: relative;
    top: 10px; 
    right: 931px;
    height: 16rem;  
    animation: appier 1s ease-out  ;

}
@keyframes zoomOutcircle {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(0.9);

    }
}
@keyframes appier {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
.sixthAnimation{
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}
.sixthCircle{
    height: 77.5rem;
        /* height: 100rem; */
        margin: 0 0 0 30rem;
    animation: rotate 1s ease-out infinite ;
}
.iconsix{
    position: relative;
    top: 10px; 
    right: 931px;
    height: 16rem;  
    animation: rotate10 1s ease-out infinite ;

}
.invest{
    /* color: white; */
    font-size: 4rem;
     position: relative;
    top: 10px;
    right: 707px;
    background: linear-gradient(to right, #0EE28E, #493FD6 , #FFFFFF);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
    animation: swiperight 1s ease-out infinite ;


}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
@keyframes rotate10 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
@keyframes swiperight {
    0%{
        right: 720px;
    }
    100%{
    right: 707px;
        
    }
}
.seventhAnimation{
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}
.seventhCircle{
    height: 77.5rem;
        /* height: 100rem; */
        margin: 0 0 0 30rem;
        transform: rotate(20deg);
    animation: rotate20-40 1s ease-out infinite ;
}
.iconseven{
    position: relative;
    top: 10px; 
    right: 931px;
    height: 16rem;  
    animation: rotate10-20 1s ease-out infinite ;

}
.grow{
    /* color: white; */
    font-size: 4rem;
     position: relative;
    top: 10px;
    right: 707px;
    background: linear-gradient(to right, #0EE28E, #493FD6 , #FFFFFF);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
    animation: swiperightAndZoomOut 1s ease-in infinite ;


}
@keyframes swiperightAndZoomOut {
    0%{
        right: 720px;
    }
    100%{
    right: 707px;
    transform: scale(0.8);
    opacity: 0;
        
    }
}
@keyframes rotate20-40 {
    0%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(70deg);
    }
}
@keyframes rotate10-20 {
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(20deg);
        transform: scale(0.8);
    opacity: 0;
    }
}
.eightthAnimation{
 position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;   
}
.eightthCircle{
    height: 77.5rem;
        /* height: 100rem; */
        margin: 0 0 0 40rem;
        transform: rotate(20deg);
    animation: rotateback 1s ease-out;
}
.tagLine {
  font-size: 4rem;
  position: relative;
  top: 10px;
  right: 940px;
  background: linear-gradient(to right, #0EE28E, #493FD6, #FFFFFF);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  text-align: center;
  white-space: nowrap; /* Prevent unwanted wrapping */
  animation: zoomout 0.9s ease-in;
}

@keyframes zoomout {
    0%{
        transform: scale(1.9);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rotateback {
    0%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-70deg);
        scale: 1.4;
    }
    /* 100%{
        transform: rotate(70deg);
        scale: 0.8;
    } */
    
}

/* unlock your Financial potential */
.hover-Animation{
    background-color: black;
    height: 15rem;
    width: 100%;
    transition: all ease 1s;
    color: white;
    padding: 10rem 10rem 10rem 15rem;
    box-shadow: inset 0 -150px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    
}
.hover-Animation-Test{
    font-weight: 400;
    font-size: 6rem;
    transition: all ease 1s;
}
.hover-Animation-para{
    display: none;
}
.hover-Animation:hover{
background: url('./img/HoverBanner.svg');
background-repeat: no-repeat;
background-color: white;
color: black;
.hover-Animation-Test{
    font-weight: 400;
    font-size: 3rem;

}
.hover-Animation-para{
    display: flex;
    color: #727272;
    font-size: 2.6rem;
    width: 60%;
    /* background-color: red; */
    margin: 3rem 0 0 0;
}
}

/* product section */
.scroll-section {
  height: 400vh; /* 4 slides = 4x viewport height */
  position: relative;
}
/* .nextsection{
    height: -100vh;
} */

.image-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;      /* always fill viewport! */
  width: 100vw;       /* ensure it fills width */
  overflow: hidden;
}

.image-slide {
  position: absolute;  /* Stack all slides on top of each other */
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Keep Know More at the bottom */
}

.image-slide.active {
  opacity: 1;
  z-index: 1;       /* Bring to front */
  pointer-events: all;
}

.slide-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.know-more-btn {
  position: relative; /* Relative to .image-slide's flexbox */
  margin-bottom: 80px;
  background: #000c;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  z-index: 2;
  transition: background 0.2s;
  background-color: black;
    width: fit-content;
    padding: 0.3rem;
    border-radius: 5px;
}
.know-more-btn:hover {
  background: #222c;
}


.finversityButton {
    top: 50px;
    right: -187px;
}
.novaButton{
    top: 60px;
    right: 473px
}
.nebulaButton{
        top: 35px;
    right: -125px;
}
.buttonlink{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.7rem;
}


i{
    width: 1rem;
}


/* Card Section */
.cardSection{
/* background-color: blue; */
color: white;
height: fit-content;
display:flex ;
flex-direction: column;
align-items: center;
/* overflow-x: hidden; */
/* position: relative;
top: 0rem; */
}
.cardText{
    padding: 12rem 0 0 7rem;
    /* background-color: blue; */
    width: 85%;
    line-height: 5rem;
    
}
.cardHead{
    font-weight: 400;
    font-size: 4.7rem;
}
.cardPara{
    font-size: 3rem;
    word-spacing: 20px;
}
.cardsContainer{
    /* background-color: green; */
    height: fit-content;
    padding: 2rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 150px;
    /* background-color: red; */
    width: fit-content;
}
.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 30rem;
    background-color: black;
    width: 20rem;
    border-radius: 20px;
    border: 1px solid gray;
    overflow: hidden;
    transition: all ease 0.5s;
}
.card:hover{
    
    transform: scale(1.1);
    rotate: 5deg;
    cursor: pointer;
}
.iconAndText{
    /* background-color: red; */
    height: 3rem;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1rem;
    padding:  20px;
}
.cardIcon{
    height: 2rem;
    width: 2rem;
}
.iconText{
    font-weight: 400;
    font-size: 1.8rem;
}
.TextAndButton{
    padding: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cardParaText{
    font-weight: 500;
    width:96%;
    font-size: 1.3rem;
}
.cardButton{
    /* background-color: white; */
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 3px;
    border: 1px solid white;
    color: #FFFFFF;
    font-weight: 100;

        display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.thinArrow{
    font-weight: 100;
}

.cardImageOne{
    height: 14rem;
}
.cardImageTwo{
    height: 14rem;
}
.cardImageThree{
    height: 14rem;
}

.Cardimg1, .Cardimg2, .Cardimg3{
    /* background: white; */
    padding-top: 2px;
    margin: -5px;

    
}
.cardimageBackgroundGradientOne{
    background: linear-gradient(to top,#09FF7C, #1b7444, #010302, black); 
    
}
.cardimageBackgroundGradientTwo{
    background: linear-gradient(to top,#493FD6, #3c35a8, #010302, black); 

}
.cardimageBackgroundGradientThree{
    background: linear-gradient(to top,#F2FF84, #b0b960, #010302, black); 
}
/* Data privacy section */
.dataPrivacy {
    /* background-color: yellow; */
    margin: 8rem 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}

.dataPrivacyImage {
    height: 6rem;
    width: auto;
    max-width: 100%;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1200px;
}

.dataPrivacyHeader {
    font-size: clamp(1.8rem, 4vw, 2.4rem);
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
}

.dataprivacyPara {
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    font-weight: 200;
    width: 80%;
    line-height: 1.5;
    margin: 0;
}

/* what we offer */
.whatWeOffer{
    /* position: relative;
     top: 43rem; */
     display: flex;
     flex-direction: column;
     gap: 4rem;
     /* justify-content: center; */
     align-items: center;
     overflow: hidden;
}
.whatWeOfferHead{
    color: white;
    font-size: 3.8rem;
    font-weight: 500;
}
.whatWeOfferImageGroup{
    /* position: absolute; */
    position: relative;
    /* background-color: red; */
    height: 35rem;
    /* height: fit-content; */
}
.imgGroup1{
    top: 0;
    left: 0;
}
.imgGroup2,
.imgGroup3{
    position: inherit;
    top: -891px;
    bottom: 0;
    /* background-color: red; */
}

.whatweOfferBackground{
     height: 35rem;
}
.offerZoomOut{
     animation: OfferZoomOut 10s infinite ease;

}
.offerZoomIn{
     /* animation: OfferZoomIn 3s infinite ease; */

}
.godImg{
    height: 20rem;
    position: relative;
    
    
}
.whatWeOfferCard{
    height: 20rem;
    position: relative;
    
    
    /* left: 55rem; */

}
.godImgAdjustment1{
    
    bottom: 21rem;
    left: 55rem;
    opacity: 0;
     animation: OfferAppear 10s infinite ease;
}
.cardImgAdjustment1{
    
    bottom: 28rem;
    opacity: 0;
    animation: OfferAppear 10s infinite linear;
}

.godImgAdjustment2{
    
    bottom: 23rem;
    right: -18rem;
    animation: OfferAppear 10s infinite linear;
}
.cardImgAdjustment2{
    bottom: 28rem;
    left: 20rem;
    animation: OfferAppear 10s infinite linear;

}
.imgGroup1{
    opacity: 0;
    /* display: none; */
}
.bg2{
    /* opacity: 0; */
    animation: offerZoomIn 10s infinite linear;
}
.imgGroup2{
    overflow: hidden;
    /* display: none; */
    opacity: 0;
    /* background-color: red; */
    /* height: 35rem; */
}
.imgGroup3{
    top: -111rem;
    left: 0;
    opacity: 0;
    /* display: none; */
}
.cardImgAdjustment3{
    bottom: 28.5rem;
    left: 23.5rem;
     animation: rightToLeftSwipe 10s  linear infinite;
}
.godImgAdjustment3{
    top: -27rem;
    left: 60rem;
     animation: rotateandApper 10s  linear infinite;

}
.bg3{
    /* opacity: 0; */
    animation: backZoomMore 10s  linear infinite;
}
.bg4{
    animation: backZoomMore 10s  linear infinite;

}
.imgGroup4{
        top: -166.5rem;
    /* background-color: red; */
    position: relative;
    opacity: 0;
    /* display: none; */
    
}
.cardImgAdjustment4{
    bottom: 28rem;
    right: 3rem;
    animation: rightToleftSwipe 10s infinite ease ;
}
.godImgAdjustment4{
        bottom: 26rem;
    right: -17rem;
    animation: OfferAppear 10s infinite ease;
}

/* ============ Used in javascript ================ */

.imgGroup {
            
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.8s ease, visibility 5s ease;
            transform-style: preserve-3d;
        }

        .imgGroup.active {
            opacity: 1;
            visibility: visible;
        }
/* ============================== */

.mobileview{
    display: none;
    
}






/*==========================================================*/


@keyframes rightToleftSwipe {
    0%{
        right: 3rem;
        opacity: 0;
    }
    10%,20%,30%,40%{
         right: -20rem;
        opacity: 1;
    }
    50%{
        right: -20rem;
        opacity: 1;
    }
    100%{
        right: -20rem;
        opacity: 1;
    }
}
@keyframes backZoomMore{
     0%{
        transform: scale(1);
        opacity: 0;
     }
     10%{
        transform: scale(1.5);
        opacity: 1;
     }
      100%{
        transform: scale(1.5);
        opacity: 1;
     }
}
@keyframes rotateandApper {
    0%{
        transform: scale(1);
        opacity: 0;
    }
    10%{
        transform: scale(1.3);
        top: -29rem;
        left: 58rem;
        opacity: 1;
    
    }
    60%{
        transform: scale(1.3);
        top: -29rem;
        left: 58rem;
        opacity: 1;
    
    }
    70%{
        transform: scale(1.3);
        top: -29rem;
        left: 58rem;
        opacity: 1;
    }
    80%{
        transform: scale(1.3);
        top: -29rem;
        left: 58rem;
        opacity: 1;
    
    }
    90%{
        transform: scale(1.3);
        top: -29rem;
        left: 58rem;
        opacity: 1;
    
    }
    100%{
        transform: scale(1.3);
        top: -29rem;
        left: 58rem;
        opacity: 1;


    }
}
@keyframes rightToLeftSwipe {
    0%{
        bottom: 28.5rem;
    left: 23.5rem;
    opacity: 0;
    }
    10%{
        left: -1.5rem;
        opacity: 1;

    }
    60%{
        left: -1.5rem;
        opacity: 1;

    }
    70%{
        left: -1.5rem;
        opacity: 1;

    }
    80%{
        left: -1.5rem;
        opacity: 1;

    }
    90%{
        left: -1.5rem;
        opacity: 1;

    }
    100%{
        left: -1.5rem;
        opacity: 1;
    }
}
@keyframes OfferZoomOut{
    0%{
        transform: scale(1.7);
        opacity: 0;

    }
    50%, 60%, 70%, 80%,90%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes offerZoomIn {
    0%{
        transform: scale(1);
    }
    50%,60%,70%,80%, 90%, 100%{
        transform: scale(1.1);
    }
}
@keyframes OfferAppear {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
    75%, 85%, 95%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}









/* why choose us section */
.chooseUsSection{
    /* background-color: red; */
    /* top: 41rem;
    position: relative; */
    padding: 10rem;
    /* display: flex; */
    /* justify-content: center;
    flex-direction: column; */
    /* align-items: center; */
    
}
.chooseUsHeading{
    font-size: 4rem;
    font-weight: 500;
    color: white;
    margin: 0 0 4rem 0;
}
/* .paraAnimationBox ul{
    display: flex;
    align-items: center;
    width: fit-content;
   
} */
.AnimatedParaUl li{
 color: #787878;
 font-size: 2.5rem;
 width: 95%;
 /* background-color: blue; */
 animation: highlight 3s infinite ease-in;
 transition: all ease 0.6s;

}
.AnimatedParali:nth-child(1) { animation-delay: 0s;
 color: #787878;
 }
.AnimatedParali:nth-child(2) { animation-delay: 1s;
 color: #787878;
 }
.AnimatedParali:nth-child(3) { animation-delay: 2s;
 color: #787878;
 }
/* .AnimatedParali:nth-child(4) { animation-delay: 3s;
 color: #787878;
 } */

@keyframes highlight {
  0% { color: white; 
 transition: all ease 0.6s;
}
  25% { color: #9b9b9b; }
  50% { color: #b9b9b9; }
  100% { color: #787878;
 transition: all ease 0.6s;
 }
}
/* .AnimatedParaUl li:hover{
    color: white;
} */
.AnimatedParaUl{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #0EE28E; */
    margin-left: 4rem;
}



/* ======karthi================ */
/* Tablet View (768px and below) */
@media (max-width: 768px) {
    .whatWeOfferImageGroup {
        height: 25rem;
        transform: scale(0.8);
    }

    .whatweOfferBackground {
        height: 25rem;
    }

    .godImg, .whatWeOfferCard {
        height: 15rem;
    }

    /* Adjust positions for tablet */
    .godImgAdjustment1 {
        bottom: 15rem;
        left: 35rem;
    }

    .cardImgAdjustment1 {
        bottom: 25rem;
        margin-left: -72px;    }

    .godImgAdjustment2 {
        bottom: 17rem;
        right: -10rem;
    }

    .cardImgAdjustment2 {
        bottom: 20rem;
        left: 15rem;
    }

    .imgGroup2 {
        top: -650px;
    }
    
    .imgGroup3 {
        top: -1171px;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        transform: translateZ(0);
    }

    .cardImgAdjustment3 {
        bottom: 20.5rem;
        margin-left: 13.5rem;
        opacity: 1;
        
    }

    .godImgAdjustment3 {
        top: -20rem;
        margin-left: -12rem;
        opacity: 1;
        
    }

    .imgGroup4 {
        top: -120rem;
    }

    .cardImgAdjustment4 {
        bottom: 20rem;
        margin-left: -9rem;
    }

    .godImgAdjustment4 {
        bottom: 18rem;
        right: -7rem;
    }
}

/* Mobile View (480px and below) */
@media (max-width: 480px) {
    .whatWeOfferImageGroup {
        height: 20rem;
        transform: scale(0.5);
        display: none;
    }

    .whatweOfferBackground {
        height: 20rem;
    }

    .godImg, .whatWeOfferCard {
        height: 12rem;
    }

    /* Adjust positions for mobile */
    .godImgAdjustment1 {
        bottom: 12rem;
        left: 25rem;
    }

    .cardImgAdjustment1 {
        bottom: 16rem;
    }

    .godImgAdjustment2 {
        bottom: 14rem;
        right: -8rem;
    }

    .cardImgAdjustment2 {
        bottom: 16rem;
        left: 12rem;
    }

    .imgGroup2, .imgGroup3 {
        top: -520px;
    }

    .cardImgAdjustment3 {
        bottom: 14rem;
        left: 14rem;
    }

    .godImgAdjustment3 {
        top: -16rem;
        left: 30rem;
    }

    .imgGroup4 {
        top: -95rem;
    }

    .cardImgAdjustment4 {
        bottom: 16rem;
        right: 1.5rem;
    }

    .godImgAdjustment4 {
        bottom: 14rem;
        right: -9rem;
    }
 .mobileview {
  display: block;
  height: 59vh;
  position: relative;
}

.mobile-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mobile-slide {
  position: absolute;
  width: 101vw;
  height: 57vh;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
}

.mobile-slide.active {
  opacity: 1;
  z-index: 1;
  margin-top: 9px;
}

.mobile-slide-image {
  position: absolute;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  z-index: -1;
}



 


    /* Scale down animations */
    @keyframes OfferZoomOut {
        0% {
            transform: scale(1.2);
            opacity: 0;
        }
        50% {
            transform: scale(0.8);
            opacity: 1;
        }
        100% {
            transform: scale(0.8);
            opacity: 0;
        }
    }

    @keyframes offerZoomIn {
        0% {
            transform: scale(0.8);
        }
        100% {
            transform: scale(0.9);
        }
    }
}

/* Extra small devices */
@media (max-width: 360px) {
    .whatWeOfferImageGroup {
        transform: scale(0.3);
    }

    .whatWeOfferHead {
        font-size: 2rem;
    }
}


/* =================end */



/* Tablet View (768px and below) */
@media (max-width: 768px) {

    /* unlock your finantial potential section */
    .hover-Animation{
        width: 48%;
        height: 50%;
    }
    .hover-Animation:hover{
.hover-Animation-Test{
    font-weight: 400;
    font-size: 2rem;

}
.hover-Animation-para{
    
    font-size: 1.4rem;
    width: 100%;

}
    }
    .hover-Animation-Test {
        font-weight: 400;
        font-size: 3rem;
    }
    /* scroll animation */
    .novaButton {
    top: 0px;
        right: 287px;
}
    .finversityButton {
    top: -10px;
    right: -140px;
}
.nebulaButton {
    top: 0px;
    right: -102px;
}

    /* card container */
        .cardText {
        padding: 8rem 4rem 0;
        text-align: left;
    }
    
    .cardsContainer {
        margin-top: 2rem;
        padding: 3rem;
        flex-direction: column;
        height: 25rem;
        padding: 3rem;
        overflow-y: scroll;
        /* scroll-initial-target: calc(center); */
        scroll-snap-type: x mandatory;
        max-width: 42rem;
       
    }
    /* Optional: Hide scrollbar for aesthetics */
.cardsContainer::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Edge */
}
.cardsContainer {
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}
    
    .card {
        /* width: calc(50% - 2rem); */
    /* border: 1px solid rgb(144, 6, 6); */
    width: 15rem;
    height: 86%;
    scroll-snap-align: center

    }
    .cardHead{
        font-size: 3.5rem;
    }
    .cardPara{
        font-size: 2rem;
    }
    .cardText{
        width: fit-content;
    }
    .cardParaText{
        font-size: 0.9rem;
    }
    .cardButton{
        font-size: 0.7rem;
        font-weight: 300;
    }
    .iconAndText{
        padding: 10px;
        width: fit-content;
    }
    .iconText{
    font-size: 1.4rem;
}
.cardIcon {
    height: 1.3rem;
    width: 1.3rem
}
    .TextAndButton{
        padding: 0 0 0 12px;
        z-index: 1;
    }
    .cardImageOne{
    height: 11rem;
}
.cardImageTwo{
    height: 11rem;
}
.cardImageThree{
    height: 11rem;
}


    /* Data privacy section */
    .dataPrivacy {
        margin: 6rem 0;
        padding: 1.5rem;
        gap: 1.5rem;
    }
    
    .dataPrivacyImage {
        height: 5rem;
    }
    
    .dataprivacyPara {
        width: 90%;
    }
    

    /* Why choose us section */
    .chooseUsSection {
        width: 100%;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem 0 5rem 0;
    }
    
    .chooseUsHeading {
        font-size: 2.5rem;
        margin: 0 0 3rem 0rem;
    }
    .AnimatedParaUl{
        margin-left: 4rem;
    }
    
    .AnimatedParaUl li {
        font-size: 1.5rem;
        width: 80%;
    }
}

/* Mobile View (480px and below) */
@media (max-width: 480px) {
    /* header animation */
    .circle{
        height: 24rem;
    
        
    }
    .logoInsideCircle{
        height: 7rem;
        right: 220px;
    }
    .secondCircle{
            margin: 0 0 0 22rem;
    }
    .secondLogo{
        height: 2.5rem;
        right: 715px;

    }
    .thardLogo{
        height: 3rem;
        right: 983px;
    }
    .thardCircle{
        margin: 39px 0 0 21rem;
    }
    .fourthLogo{
        height: 3rem;
        right: 770px;
    }
    .fourthCircle{
            margin: 47px 0 0 20rem;
    }
    .eightthCircle{
        margin: 0 0 0 19rem;
    }
    .tagLine{
        font-size: 1.7rem;
  right: 776px;

    }
      /* unlock your finantial potential section */
    .hover-Animation{
        width: 100%;
        height: 50%;
        padding: 5rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    
    .hover-Animation:hover{
.hover-Animation-Test{
    font-weight: 400;
    font-size: 2rem;

}
.hover-Animation-para{
    
               font-size: 1rem;
            width: 71%;

}
    }
    .hover-Animation-Test {
        font-weight: 400;
        font-size: 2.6rem;
    }
        /* scroll animation */
    .novaButton {
    top: 47px;
    right: 124px;
}
    .finversityButton {
            top: 38px;
        right: -89px;
}
.nebulaButton {
    top: 61px;
    right: -63px;
}
.buttonlink{
    gap: 0.6rem;
    padding: 0.4rem;
}
    .image-wrapper{
        position: relative;
        top: -8rem;
    }
    .scroll-section{
        height: 23rem;
    }
    .slide-image {
        height: 18rem;
      width: 100%;
    }
    /* card section */
    .cardSection{
        /* background-color: red; */
        flex-direction: column;
        margin-top: 160px;
    }
    .cardText {
        padding: 4rem 1rem 0;
        line-height: 2;
    }
    .cardHead{
    font-size: 2rem;

    }
    .cardPara{
        font-size: large;
    }
    
    .cardsContainer {
        padding: 1rem;
        margin-top: 3rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: fit-content;
        
    }
    .card{
        width: 14rem;
    }
    
    .iconAndText {
        padding: 15px;
    }
    
    .TextAndButton {
        padding: 0 1.5rem 1.5rem;
    }
    
    .cardButton {
        width: 90%;
        text-align: center;
    }

    /* Data privacy section */
    .dataPrivacy {
        margin: 4rem 0;
        gap: 1rem;
        padding: 1rem;
    }
    
    .dataPrivacyImage {
        height: 4rem;
    }
    
    .textContainer {
        gap: 1rem;
    }
    
    .dataPrivacyHeader {
        font-size: 1.6rem;
    }
    
    .dataprivacyPara {
        width: 100%;
        font-size: 1.2rem;
    }

    /* why chooseus section */
   
    .chooseUsSection {
        padding: 3rem 0rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .chooseUsHeading {
        font-size: 2.8rem;
        margin-bottom: 2rem;
        padding: 0 1rem;
    }
    
    .AnimatedParaUl {
        gap: 1.5rem;
    }
    
    .AnimatedParaUl li {
        font-size: 1.3rem;
        line-height: 1.4;
    }
}

/* Small Mobile View (360px and below) */
@media (max-width: 360px) {
    /* data privacy section */
    .dataPrivacyHeader {
        font-size: 1.4rem;
    }
    
    .dataprivacyPara {
        font-size: 1.1rem;
    }
    /* why choose us section */
    .chooseUsHeading {
        font-size: 2.4rem;
        /* margin: 0; */
    }
    
    .AnimatedParaUl li {
        font-size: 1.3rem;
        /* margin: 0; */
    }
    .paraAnimationBox{
        /* margin: 0; */
    }
}

/*==========================================macbook================================================*/
@media screen and (min-device-width: 3072px) and (min-device-height: 1920px){
    
    /* header animation */
    .circle {
        height: 26rem;
    }

    .logoInsideCircle {
        height: 8rem;
        right: 240px;
    }

    .secondCircle {
        margin: 0 0 0 24rem;
    }

    .secondLogo {
        height: 3rem;
        right: 740px;
    }

    .thardLogo {
        height: 3.5rem;
        right: 1010px;
    }

    .thardCircle {
        margin: 42px 0 0 23rem;
    }

    .fourthLogo {
        height: 3.5rem;
        right: 790px;
    }

    .fourthCircle {
        margin: 50px 0 0 22rem;
    }

    .eightthCircle {
        margin: 0 0 0 21rem;
    }

    .tagLine {
        font-size: 1.9rem;
        right: 800px;
    }

    /* unlock your financial potential section */
    .hover-Animation {
        width: 100%;
        height: 50%;
        padding: 6rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hover-Animation:hover .hover-Animation-Test {
        font-weight: 400;
        font-size: 2.2rem;
    }

    .hover-Animation:hover .hover-Animation-para {
        font-size: 7.1rem;
        width: 68%;
    }

    .hover-Animation-Test {
        font-weight: 400;
        font-size: 7.5rem;
    }

    /* scroll animation */
    .novaButton {
        top: 38px;
        right: 66rem;
    }

    .finversityButton {
        top: 41px;
        right: -85px;
    }

    .nebulaButton {
        top: 12px;
        right: -281px;
    }

    .buttonlink {
        gap: 0.8rem;
        padding: 20px;
        font-size: 39px;
    }

    .image-wrapper {
        position: relative;
        top: -30rem;
    }

    .scroll-section {
        height: 24rem;
    }

    .slide-image {
        height: 48vw;
        width: 100%;
        top: 30rem;
    }

    /* card section */
    .cardSection {
        flex-direction: column;
        margin-top: 78rem;
    }

    .cardText {
        padding: 4.5rem 1.5rem 0;
        line-height: 2;
    }

    .cardHead {
        font-size: 7.2rem;
    }

    .cardPara {
        font-size: 3.2rem;
    }

    .cardsContainer {
        padding: 1.5rem;
        margin-top: 3.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: fit-content;
    }

    .card {
        width: 41rem;
        height: 57rem;
    }

    .iconAndText {
        padding: 25px;
    }
    .cardIcon {
        height: 5rem;
        width: 5rem;
    }
.iconText {
    font-weight: 400;
    font-size: 3.8rem;
}
    .TextAndButton {
        padding: 0 1.8rem 1.8rem;
    }

    .cardButton {
        width: 35%;
        font-size: 2rem;
        margin-left: 26px;
        margin-top: 46px;
    }
    .cardParaText{
        font-weight: 500;
        width: 96%;
        font-size: 2.8rem;
        margin-left: 25px;
        height: 75px;
    }
    .cardImageOne {
    height: 30rem;
}
.cardImageTwo {
    height: 30rem;
}
.cardImageThree {
    height: 30rem;
}

    /* Data privacy section */
    .dataPrivacy {
        margin: 2.5rem 0;
        gap: 1.2rem;
        padding: 19.2rem;
    }

    .dataPrivacyImage {
        height: 13.5rem;
    }

    .textContainer {
        gap: 1.2rem;
    }

    .dataPrivacyHeader {
        font-size: 3.5rem;
    }

    .dataprivacyPara {
        width: 100%;
        font-size: 2.3rem;
    }

    /* why choose us section */
    .chooseUsSection {
        padding: 3.5rem 0rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .chooseUsHeading {
        font-size: 3rem;
        margin-bottom: 2.2rem;
        padding: 0 1.2rem;
    }

    .AnimatedParaUl {
        gap: 1.8rem;
    }

    .AnimatedParaUl li {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .whatWeOffer{
    /* position: relative;
     top: 43rem; */
     display: flex;
     flex-direction: column;
     gap: 4rem;
     /* justify-content: center; */
     align-items: center;
     overflow: hidden;
}
.whatWeOfferHead{
        color: white;
        font-size: 5.8rem;
        font-weight: 500;
        height: 33rem;
    }
.whatWeOfferImageGroup{
    /* position: absolute; */
    position: relative;
    /* background-color: red; */
    height: 35rem;
    /* height: fit-content; */
}
.imgGroup1{
    top: 0;
    left: 0;
}
.imgGroup2,
.imgGroup3{
    position: inherit;
    top: -891px;
    bottom: 0;
    /* background-color: red; */
}

.whatweOfferBackground{
     height: 35rem;
}
.offerZoomOut{
     animation: OfferZoomOut 3s infinite ease;

}
.offerZoomIn{
     /* animation: OfferZoomIn 3s infinite ease; */

}
.godImg{
    height: 20rem;
    position: relative;
    
    
}
.whatWeOfferCard{
    height: 20rem;
    position: relative;
    
    
    /* left: 55rem; */

}
.godImgAdjustment1{
    bottom: 39rem;
        left: 123rem;
        opacity: 0;
        animation: OfferAppear 3s infinite ease;
        height: 38rem;
    }
.cardImgAdjustment1{
    
    bottom: 28rem;
    opacity: 0;
    animation: OfferAppear 3s infinite linear;
}

.godImgAdjustment2{
    
    bottom: 23rem;
    right: -18rem;
    animation: OfferAppear 3s infinite linear;
}
.cardImgAdjustment2{
    bottom: 28rem;
    left: 20rem;
    animation: OfferAppear 3s infinite linear;

}
.imgGroup1{
    opacity: 0;
    /* display: none; */
}
.bg2{
    /* opacity: 0; */
    animation: offerZoomIn 3s infinite linear;
}
.imgGroup2{
    overflow: hidden;
    /* display: none; */
    opacity: 0;
    /* background-color: red; */
    /* height: 35rem; */
}
.imgGroup3{
    top: -111rem;
    left: 0;
    opacity: 0;
    /* display: none; */
}
.cardImgAdjustment3{
    bottom: 28.5rem;
    left: 23.5rem;
     animation: rightToLeftSwipe 4s  linear infinite;
}
.godImgAdjustment3{
    top: -27rem;
    left: 60rem;
     animation: rotateandApper 4s  linear infinite;

}
.bg3{
    /* opacity: 0; */
    animation: backZoomMore 4s  linear infinite;
}
.imgGroup4{
        top: -166.5rem;
    /* background-color: red; */
    position: relative;
    opacity: 0;
    /* display: none; */
    
}
.cardImgAdjustment4{
    bottom: 28rem;
    right: 3rem;
    animation: rightToleftSwipe 3s infinite ease ;
}
.godImgAdjustment4{
        bottom: 26rem;
    right: -17rem;
    animation: OfferAppear 3s infinite ease;
}

/* ============ Used in javascript ================ */

.imgGroup {
            
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.8s ease, visibility 5s ease;
            transform-style: preserve-3d;
        }

        .imgGroup.active {
            opacity: 1;
            visibility: visible;
        }

}

